In [1]:
# number is variable
number = 23

In [3]:
# number is int type variable
number = 23
# price is float type variable
price = 33.3
# item is string type variable
item = 'Apple'

# to check type of variable use type function
print(number, type(number))
print(price, type(price))
print(item, type(item))

23 <class 'int'>
33.3 <class 'float'>
Apple <class 'str'>

In [15]:
# creating list of different types of elements
temp_list = [20, 42.3, 'Apple']
print(temp_list)

# accessing elements in list
print('element at third position :', temp_list[2])

# changing elements in list
temp_list[2] = 'IOS'
print('new list :', temp_list)

# adding element to list
temp_list.append('jeff')
print('list after adding new element : ', temp_list)

# remove elements from list
temp_list.remove(20)
print('List after removing element', temp_list)

# list compression 
[element for element in temp_list if type(element) == str]

[20, 42.3, 'Apple']
element at third position : Apple
new list : [20, 42.3, 'IOS']
list after adding new element :  [20, 42.3, 'IOS', 'jeff']
List after removing element [42.3, 'IOS', 'jeff']

['IOS', 'jeff']

In [16]:
# list compression 
[element for element in temp_list if type(element) == str]

['IOS', 'jeff']

In [18]:
{2,2}

{2}

In [25]:
# creating tuple
values = (2,4,5,2,5)
print('elements in tuples :', values)

# accessing elements 
print('element at first position in tuple :', values[0])

# accessing range of elements
print('element from first position to third position :',values[0:3])

elements in tuples : (2, 4, 5, 2, 5)
element at first position in tuple : 2
element from first position to third position : (2, 4, 5)

In [27]:
# changing values in tuple
values[0] = 3

TypeError: 'tuple' object does not support item assignment

In [32]:
# creating set
cities = {"Madras", "Delhi", "Bombay", "Calcutta", "Madras"}
print('elements of set :' ,cities)

# adding elements to set
cities.add('Jaipur')
print('Set after adding element :', cities)

# removing elements from set
cities.remove('Calcutta')
print('Set after removing element :', cities)

elements of set : {'Bombay', 'Delhi', 'Calcutta', 'Madras'}
Set after adding element : {'Delhi', 'Bombay', 'Calcutta', 'Jaipur', 'Madras'}
Set after removing element : {'Delhi', 'Bombay', 'Jaipur', 'Madras'}

In [37]:
# creating dictionary
student = {"name":"jeff", "reg_no":"389444", "course":"Computer Science"}
print('elements of dictionary :', student)

# accessing element of dictionary using key
print('value of dictioanry at key name :',student['name'])

# updating value in dictionary
student['name'] = 'Ravl'
print('updated dictionary :', student)

elements of dictionary : {'name': 'jeff', 'reg_no': '389444', 'course': 'Computer Science'}
value of dictioanry at key name : jeff
updated dictionary : {'name': 'Ravl', 'reg_no': '389444', 'course': 'Computer Science'}

In [38]:
# control statement
a = 3
b = 5
if a > b:
    print('a is greater than b')
else:
    print('a is less than b')

a is less than b

In [40]:
ofl_team = ["mukesh", "pratyush", "ananya", "rohit", "prem"]
for person in ofl_team:
    mail = person + "@gmail.com"
    print(mail)

mukesh@gmail.com
pratyush@gmail.com
ananya@gmail.com
rohit@gmail.com
prem@gmail.com

In [43]:
#defining square function 
def square(number):
    # returning square of number
    return number* number

In [44]:
square(5)

25

In [53]:
class Phone:
    
    # This string explain purpose of the class and it is optional
    """ This phone class explain common attributes and behavior that exist in phone"""
    
    # initializing attributes
    def __init__(self,company, length, breadth):
        
        self.company = company
        self.length = length
        self.breadth = breadth
        
    def camera(self):
        
        message = 'Capturing High quality photo'
        return message

In [54]:
# creating object iphone_X
iphone_X = Phone('Apple', 5.65,2.79)

# print docstring of the class
print(Phone.__doc__)

 This phone class explain common attributes and behavior that exist in phone

In [55]:
print('company name :',iphone_X.company)
print('Length of phone :',iphone_X.length)
print('Breadth of phone :',iphone_X.breadth)

company name : Apple
Length of phone : 5.65
Breadth of phone : 2.79